* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: rgb(245, 234, 220); */
    background-color:rgba(0, 95, 119, 0.5);
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}


/* Header */
.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    min-height: 100px;
    border-bottom: 1px solid #000000;
    background-color: rgb(255, 255, 255);
}

h1 {

    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -3px;
    padding: 30px 20px 20px 20px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}
.menu__list {
    padding: 5px 20px 10px 20px;
}
.menu__list:first-child {
    padding-left: 0px;
}
.menu__list:last-child {
    padding-right: 0px;
}



/* Форма для добавления задачи */
#addTask {
    max-width: 900px;
    min-height: 100px;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#addTask input {
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #000000;
}
#addTask input:focus {
    outline: none;
}
#addTask #status {
    max-width: 150px;
    padding: 12px 10px;
    border: 2px solid #000000;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}
#addTask button {
    width: 150px;
    padding: 12px 10px;
    color: aliceblue;
    border: 1px solid #000000;
    background-color: #c57307;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 0.2);
    border-radius: 100px;
    position: relative;
    bottom: 0px;
    transition: all ease 0.5s;
}
#addTask button:active {
    box-shadow: inset 0 3px 0 #640e0e;
    bottom: -3px;
}

/* Счётчик задач */

.counter {
    margin: 20px 10px 10px 10px;
    width: 100px;
}
.counter p {
    font-size: 18px;
    font-weight: 600;
}


/* Секции с задачами */
.section_date {
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section {
    width: 92%;
    min-height: 80px;
    margin: 10px 10px;
    padding: 10px 20px;
    
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.block__section {
    width: 100%;
    border: 2px solid #000000;
    border-radius: 10px;
    min-height: 50px;
    background-color: #000000;
}

#list {
    list-style-type: none;
    padding: 10px;
}
#list li {
    display: flex;
    justify-content: start;
    padding: 6px 10px 5px 10px;
    border: 1.5px solid #000000;
    border-radius: 10px;
    margin: 0 1%;
    background-color: rgb(248, 248, 248);
    margin-top: 10px;
}
#list li:first-child {
    margin-top: 5px;
}
.radio {
    margin: auto 0px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
li p {
    margin: auto 0;
    padding: 10px 5px;
}
li button {
    background: none;
    border: none;
}
#radio-input {
  appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
  background: #a9bdba;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
  border-radius: 50%;
  border: 1px solid #000000;
  transition: 500ms;
}
#radio-input::after {
  content: "\2714";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 0px;
  height: 0px;
  font-size: 26px;
  transition: 500ms;
  overflow: hidden;
}
#radio-input:checked::after {
  width: 30px;
  height: 30px;
  transition: 500ms;
}
#radio-input:disabled {
  background: #ccc;
  border-color: #ccc;
}
#radio-input:disabled::after {
  filter: grayscale(100%);
}


.footer {
    /* position: absolute;
    bottom: 0; */
    margin-top: auto;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
}
.footer__container {
    display: flex;
    justify-content: center;
}
h3 {
    font-size: 20px;
    padding: 20px 20px;
    color: #ffffff;
}


/* Mobile 380px */
@media (max-width: 380px) {
    body {
        background-color:rgba(0, 95, 119, 0.5);

    }
    #addTask input {
        margin-top: 20px;
    }
    #addTask input:first-child {
        margin-top: 0;
    }
    .counter p {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
    }
    h2 {
        color: #ffffff;
    }
    .block__section {
        border: 1px solid #ffffff;
        max-height: 200px;
        scrollbar-width: 0.5px;
    }
}